@import "core/variables";

.header {
  text-align: center;
  margin-top: 20px;
  &_title {
    font-size: 40px;
    margin-bottom: 50px;
  }
  &_form {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    &--btn {
      border-radius: 5px;
      font-weight: bold;
      font-size: 14px;
      margin-left: 15px;
    }
    &--option {
      margin-left: 15px;
      font-family: 14px;
      font-size: 16px;
      height: 20px;
      width: 20px;
    }
  }
}

.cards_container {
  &--list {
    list-style: none;
    display: flex;
    flex-direction: row;
    &--image {
      height: 195px;
      width: 160px;
    }
  }
}
