<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Evaluación Final BIS :: Ana Montiaga</title>
    <link rel="icon" href="favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>
  <body class="page">
    <header class="header">
      <h1 class="header_title">El juego de las parejas</h1>
      <form action="" class="header_form">
        <input class="header_form--option four" type="radio" value="4" name="number--cards" />
        <label for="4">4</label>

        <input class="header_form--option six" type="radio" value="6" name="number--cards" />
        <label for="6">6</label>

        <input class="header_form--option eight" type="radio" value="8" name="number--cards" />
        <label for="8">8</label>

        <button class="header_form--btn">Comenzar</button>
      </form>
    </header>
    <main class="cards_container">
      <ul class="cards_container--list"></ul>
    </main>
    <script src="./assets/js/main.js"></script>
  </body>
</html>
